In [3]:
import pandas as pd
df = pd.read_csv('./dataset1.1.csv', sep=";") # almacenamiento en datagrama
df.head(5)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,"95,12",18.0,unknowns,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,"87,96",39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,"110,89",17.6,unknowns,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,"69,04",35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,"161,28",19.1,unknowns,0